*.sw*
*.log
*.log.[0-9]
*.out
*.pyc
*.RData

# temp data
/data/
/schemas
/tmp/

# virtual environment and local install
/venv/
/dist/
/build/
*.egg-info

# In case you accidentally download your credentials here
credentials.*

# Mac stuff
.DS_Store
