boto3==1.14.52
botocore==1.17.52
funcy==1.14
jmespath==0.10.0
jsonschema==2.6.0
pgpasslib==1.1.0
psycopg2-binary==2.8.6
pycodestyle==2.6.0
PyYAML==5.3.1
simplejson==3.17.2
tabulate==0.8.7
termcolor==1.1.0
tqdm==4.48.2
