# This is the set of packages need to run the code. All versions are pinned.
arrow==1.2.1
boto3==1.20.5
botocore~=1.23
funcy==1.16
jmespath==0.10.0
jsonschema==3.2.0
pgpasslib==1.1.0
psycopg2-binary==2.9.2
PyYAML==6.0
simplejson==3.17.5
tabulate==0.8.9
termcolor==1.1.0
tqdm==4.62.3
watchtower==2.0.0
