arrow==1.1.1
boto3==1.18.27
botocore~=1.21
funcy==1.16
jmespath==0.10.0
jsonschema==3.2.0
pgpasslib==1.1.0
psycopg2-binary==2.9.1
PyYAML==5.4.1
simplejson==3.17.4
tabulate==0.8.9
termcolor==1.1.0
tqdm==4.62.2
watchtower==1.0.6
