# Add list of upstream data sources here:
YOUR_APPLICATION_PRODUCTION=postgres://user:password@host:port/dbname?sslmode=require

# Add connection strings used by arthur to connect to redshift as admin or ETL user:
DATA_WAREHOUSE_ADMIN=postgres://user:password@redshifthost:5439/dev?sslmode=require
DATA_WAREHOUSE_ETL=postgres://user:password@redshifthost:5439/warehouse_db?sslmode=require

# Add URL to send health check pings to
HEALTH_CHECK_URI=http://example-health-checker.com/token
