# This file should contain your settings, specific to whatever environment this is meant to run in.
#
# You can find your endpoint by going to the AWS console at https://console.aws.amazon.com/es/home

from . import ClusterConfig


class MyConfig(ClusterConfig):
    region = "[your region]"
    endpoint = "[your domain endpoint].[your region].es.example.com"
